@model  WebApplication2Exam.Models.Final

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/Home/AfterEdit">
        <input type="hidden" name="Id" value="@Model.ProductId" />  <br />
        Name: <input type="text" name="Name" value="@Model.ProductName" />  <br />
        Description: <input type="text" name="Description" value="@Model.Description" />  <br />
        Category Name : <input type="text" name="CatName" value="@Model.CategoryName" />  <br />
        <input type="submit" value="Update product" />
    </form>
</body>
</html>
